{% extends 'base_comptable.html.twig' %}

  {% block body %}
   
    <div class="container-fluid">
      <div class="row top">
        <div class="my-auto text_bloc_top col col-md-8 col-lg-9 p-0 bloc_top">
          <p class="m-0 ml-2 titre_bandeau">Fiche de frais</p>
        </div>
        <div class="my-auto text_bloc_top col col-md-4 col-lg-3 p-0 bloc_top">
          <p class="m-0 titre_bandeau">Période : {{ date }}</p>
        </div>
      </div>
    </div>
    <div class="col-11 mt-4 mx-auto">
    {% for message in app.flashes ('rejete') %}  
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %} 
        {% for message in app.flashes ('attente') %}  
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endfor %} 
        {% for message in app.flashes ('valide') %}  
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %} 
        <div class="row mb-3">
          <div class="col">
          <div class="card">
              <div class="card-header bg-info title"> Frais au forfait </div>
              {% for Forfait in Forfait %} 
                  {% if loop.last %}
                    {% if loop.index > 0 %}
                    {% endif %}
                  {% endif %}
                  {% else %}
                      <div class="card-body">
                        <p class="card-text" style="font-size: 20px; font-weight: bold;;">Aucun frais forfaitaitaires saisis <i class="fas fa-info-circle"></i></span></p>
                      </div>
                {% endfor %}

                {% if Forfait %} 
                  <table class="table table-hover table-striped table-bordered" data-toggle="table" data-search="true" data-sort-name="etat" data-sort-order="asc"> 
                    <thead class="thead">
                        <tr>
                            <th scope="col" data-sortable="true" data-field="id">Visiteur</th>
                            <th scope="col" data-sortable="true" data-field="libelle">Libellé</th>
                            <th scope="col" data-sortable="true" data-field="mois">Mois</th>
                            <th scope="col" data-sortable="true" data-field="etat">Etat</th>
                            <th scope="col" data-sortable="true" data-field="action">Actions</th>
                        </tr>
                    </thead>
          
                    {% for Forfait in Forfait %}
                    <tr>            
                      {% for user in user %}  
                        {% if user.id == Forfait.proprietaire %}
                          <td>{{ user.prenom }} {{ user.nom }}</td>
                        {% endif %}
                      {% endfor %}

                      <td>{{ Forfait.libelle }}</td>
                      <td>{{ Forfait.mois }}</td>

                        {# {% for vehicule in vehicule %}
                          {% if Forfait.proprietaire == vehicule.proprietaire %}
                            {% if vehicule.carburant == "Diesel" %}
                              {% if vehicule.chevaux <= 4 %}
                                  <td> {{ Forfait.km * 0.52 + Forfait.nuit * 80 + Forfait.repasMidi * 9.5}} </td>
                              {% endif %}
                              
                              {% if vehicule.chevaux > 4 %}
                                  <td>{{ Forfait.km * 0.58 + Forfait.nuit * 80 + Forfait.repasMidi * 9.5}}</td>
                              {% endif %}

                            {% endif %}
                  
                            {% if vehicule.carburant == "Essence" %}
                              {% if vehicule.chevaux <= 4 %}
                                  <td>{{ Forfait.km * 0.62 + Forfait.nuit * 80 + Forfait.repasMidi * 9.5}}</td>
                              {% endif %}

                              {% if vehicule.chevaux > 4 %}
                                  <td>{{ Forfait.km * 0.67 + Forfait.nuit * 80 + Forfait.repasMidi * 9.5}}</td>
                              {% endif %}

                            {% endif %}
                          {% endif %}
                        {% endfor %} #}

                        {% if Forfait.etat == "En attente" %}
                        <td style="background-color: orange; font-weight: bold;">{{ Forfait.etat }} <i class="fas fa-sync fa-spin"></i></td>
                        {% endif %}
                        {% if Forfait.etat == "Validé" %}
                        <td style="background-color: green; font-weight: bold;">{{ Forfait.etat }} <i class="far fa-check-circle"></i></td>
                        {% endif %}
                        {% if Forfait.etat == "Rejeté" %}
                        <td style="background-color: red; font-weight: bold;">{{ Forfait.etat }} <i class="fas fa-exclamation-triangle"></i></td>
                        {% endif %}


                        <td><div class="row pb-2">
                        {# {% if Forfait.etat == "En attente" %} #}
                            <div class="col"><a class="btn btn-outline-success btn1" href={{ path("valide", {'id': Forfait.id}) }} role="button">Valider</a></div>
                            <div class="col"><a class="btn btn-outline-warning btn1" href={{ path("attente", {'id': Forfait.id}) }} role="button">En attente</a></div>
                            </div><div class="row">
                        {# {% endif %} #}
                            <div class="col"><a class="btn btn-outline-danger btn1" href={{ path("rejete", {'id': Forfait.id}) }} role="button">Rejeter</a></div>
                            <div class="col"><a class="btn btn-outline-info btn1" href={{ path("info", {'id': Forfait.id, 'proprietaire': Forfait.proprietaire}) }} role="button">Détail</a></div>
                          </div>
                        </td>

                        </tr>   
                      {% endfor %}
                      {% endif %}
                    </tbody>
                  </table>   
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-header bg-info title"> Frais hors forfait </div>
                    {% for horsForfait in horsForfait %} 
                      {% if loop.last %}
                        {% if loop.index > 0 %}
                              {% endif %}
                            {% endif %}
                            {% else %}
                              <div class="card-body">
                                <p class="card-text" style="font-size: 20px; font-weight: bold;;">Aucun frais hors forfait saisi <i class="fas fa-info-circle"></i></span></p>
                              </div>
                          {% endfor %}

                        {% if horsForfait %} 
                          <table class="table table-hover table-striped table-bordered" data-toggle="table" data-search="true" data-sort-name="etat" data-sort-order="asc"> 
                            <thead class="thead">
                                <tr>
                                <th scope="col" data-sortable="true" data-field="id">Visiteur</th>
                                    <th scope="col" data-sortable="true" data-field="libelle">Libellé</th>                          
                                    <th scope="col" data-sortable="true" data-field="mois">Mois</th> 
                                    <th scope="col" data-sortable="true" data-field="etat">Etat</th>
                                    <th scope="col" data-sortable="true" data-field="action">Actions</th>
                                </tr>
                            </thead>
                            <tr>
                            {% for horsForfait in horsForfait %} 
                                {% for user in user %}  
                                  {% if user.id == horsForfait.proprietaire %}
                                    <td>{{ user.prenom }} {{ user.nom }}</td>
                                  {% endif %}
                                {% endfor %}
                                <td>{{ horsForfait.libelle }}</td>
                                <td>{{ horsForfait.mois }}</td>
                                {% if horsForfait.etat == "En attente" %}
                                  <td style="background-color: orange; font-weight: bold;">{{ horsForfait.etat }} <i class="fas fa-sync fa-spin"></i></td>
                                {% endif %}
                                {% if horsForfait.etat == "Validé" %}
                                  <td style="background-color: green; font-weight: bold;">{{ horsForfait.etat }} <i class="far fa-check-circle"></i></td>
                                {% endif %}
                                {% if horsForfait.etat == "Rejeté" %}
                                  <td style="background-color: red; font-weight: bold;">{{ horsForfait.etat }} <i class="fas fa-exclamation-triangle"></i></td>
                                {% endif %}

                                <td>
                                  <div class="col"><a class="btn btn-outline-success btn1 mx-1" style="max-width: 7em;" href={{ path("valide2", {'id': horsForfait.id}) }} role="button">Valider</a></div>
                                  <div class="col"><a class="btn btn-outline-warning btn1 mx-1 my-2" style="max-width: 7em;" href={{ path("attente2", {'id': horsForfait.id}) }} role="button">En attente</a></div>
                                  
                                  <div class="col"><a class="btn btn-outline-danger btn1 mx-1 mb-2" style="max-width: 7em;" href={{ path("rejete2", {'id': horsForfait.id}) }} role="button">Rejeter</a></div>
                                  <div class="col"><a class="btn btn-outline-info btn1 mx-1" style="max-width: 7em;" href={{ path("info2", {'id': horsForfait.id, 'proprietaire': horsForfait.proprietaire}) }} role="button">Détail</a></div>
                                </td>
                            </tr>
                            {% endfor %}
                          {% endif %}
                        </table>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}