{% extends 'base_comptable.html.twig' %}

 {% block body %}
{% for hors_forfait in hors_forfait %} 
      <div class="col p-0">
          <div class="container-fluid">
          <div class="row top">
            <div class="my-auto text_bloc_top col col-md-8 col-lg-9 p-0 bloc_top">
            {% for user in user %}  
                      {% if user.id == hors_forfait.proprietaire %}
                      
              <p class="m-0 ml-2 titre_bandeau">Information sur les frais hors forfait de {{ user.prenom }} {{ user.nom }}</p>
            </div>
            {% endif %}
            {% endfor %}
            </div>
            <div class="row mt-3">
                <div class="col">
                    
                </div>
            </div>
            <div class="row mx-auto w-100 p-0 mt-3">
                <div class="col">
                <div class="card mb-3">
                        <div class="card-header bg-info title">
                            Actions
                        </div>
                            <a class="btn btn-outline-success btn1 w-50 mx-auto mt-2" href={{ path("valide2", {'id': hors_forfait.id}) }} role="button">Valider</a>
                            <a class="btn btn-outline-warning btn1 w-50 mx-auto my-2" href={{ path("attente2", {'id': hors_forfait.id}) }} role="button">En attente</a>
                            <a class="btn btn-outline-danger btn1 w-50 mx-auto mb-2" href={{ path("rejete2", {'id': hors_forfait.id}) }} role="button">Rejeter</a>
                            
                    </div>
                    <div class="card">
                        <div class="card-header bg-info title">
                            Informations
                        </div>
                        <table class="table table-hover table-striped table-bordered" data-toggle="table" data-search="true"> 
                            <tr>
                                <th scope="col" data-sortable="true" data-field="id">Proprietaire</th>
                                {% for user in user %}  
                                    {% if user.id == hors_forfait.proprietaire %}
                                        <td>{{ user.prenom }} {{ user.nom }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <th scope="col" data-sortable="true" data-field="mois">Mois</th>   
                                <td>{{ hors_forfait.mois }}</td>
                            </tr>
                            <tr>
                                <th scope="col" data-sortable="true" data-field="etat">Etat</th>
                                    {% if hors_forfait.etat == "En attente" %}
                                        <td style="background-color: orange; font-weight: 550;">{{ hors_forfait.etat }} <i class="fas fa-sync fa-spin"></i></td>
                                    {% endif %}
                                        {% if hors_forfait.etat == "Validé" %}
                                        <td style="background-color: green; font-weight: 550;">{{ hors_forfait.etat }} <i class="far fa-check-circle"></i></td>
                                    {% endif %}
                                    {% if hors_forfait.etat == "Rejeté" %}
                                        <td style="background-color: red; font-weight: 550;">{{ hors_forfait.etat }} <i class="fas fa-exclamation-triangle"></i></td>
                                    {% endif %}
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-info title">
                            {% for user in user %}  
                                {% if user.id == hors_forfait.proprietaire %}       
                                    Véhicule de {{ user.prenom }} {{ user.nom }}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% for vehicule in vehicule %}
                        <table class="table table-hover table-striped table-bordered mb-0" data-toggle="table" data-search="true"> 
                            <tr>
                                <th scope="col" data-sortable="true" data-field="mois">Marque</th>   
                                <td>{{ vehicule.marque }}</td>
                            </tr>
                            <tr>
                                <th scope="col" data-sortable="true" data-field="etat">Modèle</th>
                                <td>{{ vehicule.modele }}</td>
                            </tr>
                            <tr>
                                <th scope="col" data-sortable="true" data-field="etat">Immatriculation</th>
                                <td>{{ vehicule.immatriculation }}</td>
                            </tr>
                            <tr>
                                <th scope="col" data-sortable="true" data-field="etat">Chevaux</th>
                                <td>{{ vehicule.chevaux }}</td>
                            </tr>
                            <tr>
                                <th scope="col" data-sortable="true" data-field="etat">Carburant</th>
                                <td>{{ vehicule.carburant }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row mt-3 px-3">
                <div class="col">
                    <div class="card">
                            <div class="card-header bg-info title">
                                Détail des frais
                            </div>
                            <table class="table table-hover table-striped table-bordered mb-0" data-toggle="table" data-search="true"> 
                            <th>Libelle</th>
                            <th>Montant</th>

                            <tr>
                                <td>{{ hors_forfait.libelle }}</td>
                                <td>{{ hors_forfait.montant }}</td>
                            </tr>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}

  {% endblock %}