<!DOCTYPE html>
<html>
  <head>
    <title>Cours Complet Bootstrap 4</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %} {# Importation de la feuille de style, et de bootstrap #}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
            <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
           {# <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet"> #}
    {% endblock %}
  </head>

 {% block body %}
   <div class="container-fluid px-0">
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <div class="container-fluid px-0">
              <a class="navbar-brand" href="#">GSB | Galaxy Swiss Bourdin</a>
              <div class="navbar-brand" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/logout">Déconnexion <i class="fas fa-sign-in-alt"></i></a>   
                  </li>
                </ul>
              </div>
            </div>
          </nav> 
        </div>
      </div>
      <div class="row">
        <div class="col-2 sidebar p-0">
          <header>
            <a href="#">
              {% if app.user is null %}
                <h3 class="my-3">Aucun utilisateur connexté</h3>
              {% else %}
                <h3 class="py-3">Bienvenue {{ app.user.prenom }}</h3>
              {% endif %}<span class="id_user">
            </a>
          </header>
          <div class="ml-3 nav w-auto pl-3 mt-4">
            <div class="p-0 pb-2 col-12 liste">
              <a href="/comptables/accueil_comptable" class="p-0" >
                <i class="fas fa-home"></i>Accueil
              </a>
            </div>

            <div class="p-0 pb-2 col-12 liste">
              <a href="/comptables/fiche_comptable" class="p-0" >
                <i class="fas fa-users"></i>Visiteurs
              </a>
            </div>

            <div class="p-0 pb-2 col-12 liste">
              <a href="/comptables/fiche_frais" class="p-0 " >
                <i class="fas fa-file-alt"></i> Fiche de frais
              </a>
            </div>
        </div>
      </div>
{% for Forfait in Forfait %} 
      <div class="col-10 p-0">
          <div class="container-fluid">
          <div class="row top">
            <div class="my-auto text_bloc_top col col-md-8 col-lg-9 p-0 bloc_top">
            {% for user in user %}  
                      {% if user.id == Forfait.proprietaire %}
                      
              <p class="m-0 ml-2 titre_bandeau">Information sur les frais de {{ user.prenom }} {{ user.nom }}</p>
            </div>
            {% endif %}
            {% endfor %}
            </div>
            <div class="row mt-3">
                <div class="col">
                    
                </div>
            </div>
            <div class="row mx-auto w-100 p-0 mt-3">
                <div class="col">
                <div class="card mb-3">
                        <div class="card-header bg-info title">
                            Actions
                        </div>
                            <a class="btn btn-outline-success btn1 w-50 mx-auto mt-2" href={{ path("valide", {'id': Forfait.id}) }} role="button">Valider</a>
                            <a class="btn btn-outline-warning btn1 w-50 mx-auto my-2" href={{ path("attente", {'id': Forfait.id}) }} role="button">En attente</a>
                            <a class="btn btn-outline-danger btn1 w-50 mx-auto mb-2" href={{ path("rejete", {'id': Forfait.id}) }} role="button">Rejeter</a>
                            
                    </div>
                    <div class="card">
                        <div class="card-header bg-info title">
                            Informations
                        </div>
                        <table class="table table-hover table-striped table-bordered" data-toggle="table" data-search="true"> 
                            <tr>
                                <th scope="col" data-sortable="true" data-field="id">Proprietaire</th>
                                {% for user in user %}  
                                    {% if user.id == Forfait.proprietaire %}
                                        <td>{{ user.prenom }} {{ user.nom }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <th scope="col" data-sortable="true" data-field="mois">Mois</th>   
                                <td>{{ Forfait.mois }}</td>
                            </tr>
                            <tr>
                                <th scope="col" data-sortable="true" data-field="etat">Etat</th>
                                    {% if Forfait.etat == "En attente" %}
                                        <td style="background-color: orange; font-weight: bold;">{{ Forfait.etat }} <i class="fas fa-sync fa-spin"></i></td>
                                    {% endif %}
                                        {% if Forfait.etat == "Validé" %}
                                        <td style="background-color: green; font-weight: bold;">{{ Forfait.etat }} <i class="far fa-check-circle"></i></td>
                                    {% endif %}
                                    {% if Forfait.etat == "Rejeté" %}
                                        <td style="background-color: red; font-weight: bold;">{{ Forfait.etat }} <i class="fas fa-exclamation-triangle"></i></td>
                                    {% endif %}
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-info title">
                            {% for user in user %}  
                                {% if user.id == Forfait.proprietaire %}       
                                    Véhicule de {{ user.prenom }} {{ user.nom }}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% for vehicule in vehicule %}
                        <table class="table table-hover table-striped table-bordered mb-0" data-toggle="table" data-search="true"> 
                            <tr>
                                <th scope="col" data-sortable="true" data-field="mois">Marque</th>   
                                <td>{{ vehicule.marque }}</td>
                            </tr>
                            <tr>
                                <th scope="col" data-sortable="true" data-field="etat">Modèle</th>
                                <td>{{ vehicule.modele }}</td>
                            </tr>
                            <tr>
                                <th scope="col" data-sortable="true" data-field="etat">Immatriculation</th>
                                <td>{{ vehicule.immatriculation }}</td>
                            </tr>
                            <tr>
                                <th scope="col" data-sortable="true" data-field="etat">Chevaux</th>
                                <td>{{ vehicule.chevaux }}</td>
                            </tr>
                            <tr>
                                <th scope="col" data-sortable="true" data-field="etat">Carburant</th>
                                <td>{{ vehicule.carburant }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row mt-3 px-3">
                <div class="col">
                    <div class="card">
                            <div class="card-header bg-info title">
                                Détail des frais
                            </div>
                            <table class="table table-hover table-striped table-bordered mb-0" data-toggle="table" data-search="true"> 
                            <thead>
                            <tr>
                            <th></th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Prix total</th>
                            </tr>
                            </thead>
                                <tr>
                                    <th scope="col" data-sortable="true" data-field="mois">Nuit</th>   
                                    <td>{{ Forfait.nuit }}</td>
                                    <td>80 €</td>
                                    <td>{{ 80 * Forfait.nuit }}</td>
                                </tr>
                                <tr>
                                    <th scope="col" data-sortable="true" data-field="etat">Repas midi</th>
                                    <td>{{ Forfait.repasMidi }}</td>
                                    <td>9€50</td>
                                    <td>{{ 9.5 * Forfait.repasMidi }}</td>
                                </tr>
                                <tr>
                                    <th scope="col" data-sortable="true" data-field="etat">Kilomètre</th>
                                    <td>{{ Forfait.km }}</td>
                                    {% if vehicule.carburant == "Diesel" %}
                                        {% if vehicule.chevaux <= 4 %}
                                            <td>0€52</td>
                                        {% endif %}
                                        {% if vehicule.chevaux > 4 %}
                                            <td>0€58</td>
                                        {% endif %}
                                    {% endif %}
                                    {% if vehicule.carburant == "Essence" %}
                                        {% if vehicule.chevaux <= 4 %}
                                            <td>0€62</td>
                                        {% endif %}
                                        {% if vehicule.chevaux > 4 %}
                                            <td>0€67</td>
                                        {% endif %}
                                    {% endif %}

                                    {% if vehicule.carburant == "Diesel" %}
                                        {% if vehicule.chevaux <= 4 %}
                                            <td> {{ Forfait.km * 0.52 }} </td>
                                        {% endif %}
                                        {% if vehicule.chevaux > 4 %}
                                            <td>{{ Forfait.km * 0.58 }}</td>
                                        {% endif %}
                                    {% endif %}
                                    {% if vehicule.carburant == "Essence" %}
                                        {% if vehicule.chevaux <= 4 %}
                                            <td>{{ Forfait.km * 0.62 }}</td>
                                        {% endif %}
                                        {% if vehicule.chevaux > 4 %}
                                            <td>{{ Forfait.km * 0.67 }}</td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th scope="col" data-sortable="true" data-field="etat">Total</th>
                                    <td style="background-color: #D6D4D4;"></td>
                                    <td style="background-color: #D6D4D4;"></td>
                                    {% if vehicule.carburant == "Diesel" %}
                                        {% if vehicule.chevaux <= 4 %}
                                            <td> {{ Forfait.km * 0.52 + Forfait.nuit * 80 + Forfait.repasMidi * 9.5}} </td>
                                        {% endif %}
                                        {% if vehicule.chevaux > 4 %}
                                            <td>{{ Forfait.km * 0.58 + Forfait.nuit * 80 + Forfait.repasMidi * 9.5}}</td>
                                        {% endif %}
                                    {% endif %}
                                    {% if vehicule.carburant == "Essence" %}
                                        {% if vehicule.chevaux <= 4 %}
                                            <td>{{ Forfait.km * 0.62 + Forfait.nuit * 80 + Forfait.repasMidi * 9.5}}</td>
                                        {% endif %}
                                        {% if vehicule.chevaux > 4 %}
                                            <td>{{ Forfait.km * 0.67 + Forfait.nuit * 80 + Forfait.repasMidi * 9.5}}</td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    {# </div> #}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>  
  {% endblock %}
</html>