{% extends 'base_comptable.html.twig' %}

  {% block body %}
 
          <div class="container-fluid">
            <div class="row top">
              <div class="my-auto text_bloc_top col col-md-8 col-lg-9 p-0 bloc_top">
                <p class="m-0 ml-2 titre_bandeau">Liste des visiteurs</p>
              </div>
              <div class="my-auto text_bloc_top col col-md-4 col-lg-3 p-0 bloc_top">
                <p class="m-0 titre_bandeau">Période : {{date}}</p>
              </div>
            </div>
          </div>
        <div class="col-11 mt-4 mx-auto mb-3">
         {% if liste_visiteur %} 
            <table class="table table-hover table-striped table-bordered" data-toggle="table" data-search="true"> 
              <thead class="thead">
                  <tr>
                      <th scope="col" data-sortable="true" data-field="id">Identifiant</th>
                      <th scope="col" data-sortable="true" data-field="nom">Nom</th>
                      <th scope="col" data-sortable="true" data-field="prenom">Prénom</th>
                      <th scope="col" data-sortable="true" data-field="adresse">Adresse</th>
                      <th scope="col" data-sortable="true" data-field="cp">Code postale</th>
                      <th scope="col" data-sortable="true" data-field="ville">Ville</th>
                  </tr>
              </thead>
              <tbody>
                {% for visiteurs in liste_visiteur %}  
                  <tr>              
                      <td scope="row"> {{ visiteurs.id }}</td>
                      <td>{{ visiteurs.nom }}</td>
                      <td>{{ visiteurs.prenom }}</td>
                      <td>{{ visiteurs.adresse }}</td>
                      <td>{{ visiteurs.cp }}</td>
                      <td>{{ visiteurs.ville }}</td>
                  </tr>
                {% endfor %} 
              </tbody>
            </table>    
           {% endif %} 
      </div>
    </div>
  </div>
</div>

  {% endblock %}