<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}GSB | Galaxy Swiss Bourdin{% endblock %}</title>
    
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
            <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">

            <link href="{{asset ('styles/main.css') }}" rel="stylesheet"/>
            <link href="{{asset ('styles/all.css') }}" rel="stylesheet"/> 
            <link rel="shortcut icon" href="{{asset ('images/logo-gsb.png') }}" type="image/x-icon">  
        {% endblock %}
    </head>

    <body>
        <div class="container-fluid px-0 hauteur">
            <div class="row hauteur">
                <div class="col-2 sidebar_color p-0">
                    <header>
                        <a href={{path ('accueil_comptables')}}>
                            {% if app.user is null %}
                            <h3 class="my-3">Aucun utilisateur connexté</h3>
                            {% else %}
                            <h3 class="hauteur bienvenue">Bienvenue {{ app.user.prenom }}</h3>
                            {% endif %}<span class="id_user">
                        </a>
                    </header>
                    <div class="ml-3 nav w-auto pl-3 mt-4">
                        <div class="p-0 pb-2 col-12 liste">
                            <a href= {{path ('accueil_comptables')}} class="p-0" >
                                <i class="fas fa-home"></i>  Accueil
                            </a>
                        </div>

                        <div class="p-0 pb-2 col-12 liste">
                            <a href= {{path ('liste_visiteur')}} class="p-0" >
                                <i class="fas fa-users"></i>  Visiteurs
                            </a>
                        </div>

                        <div class="p-0 pb-2 col-12 liste">
                            <a href= {{path ('suivi_frais')}} class="p-0 " >
                                <i class="fas fa-file-alt"></i>  Fiche de frais
                            </a>
                        </div>

                        <div class="p-0 pb-2 col-12 liste">
                            <a href= {{path ('carburant')}} class="p-0 " >
                                <i class="fas fa-file-alt"></i>  Carburants
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-10 p-0 margin-left">
                    <div class="row">
                        <div class="col">
                            <nav class="navbar navbar-expand-lg navbar-dark sidebar_color ">
                                <div class="container-fluid px-0">
                                <a class="navbar-brand" href={{path ('accueil_comptables')}}>GSB | Galaxy Swiss Bourdin</a>
                                    <div class="navbar-brand" id="navbarNavDropdown">
                                        <ul class="navbar-nav">
                                            <li class="nav-item">
                                                <a class="nav-link active" aria-current="page" href="/logout">Déconnexion <i class="fas fa-sign-in-alt"></i></a>   
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>

        {% block body %}  {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>  

    </body>
</html>
