{% extends 'base_visiteur.html.twig' %}

  {% block body %}
   
          <div class="col p-0">
            <div class="container-fluid">
              <div class="row top">
                <div class="my-auto text_bloc_top col col-md-8 col-lg-9 p-0 bloc_top">
                  <p class="m-0 ml-2 titre_bandeau">Frais forfait ou hors forfait ?</p>
                </div>
                <div class="my-auto text_bloc_top col col-md-4 col-lg-3 p-0 bloc_top">
                  <p class="m-0 titre_bandeau"> Période : {{date}}</p>
                </div>
              </div>

              {% for vehicule in vehicule %}
                {% if loop.last %}
                  {% if loop.index > 0 %}
                    <div class="col p-0 center">
                      <div>
                        <div class="bloc_card Center">
                          <a href= {{path ('frais_forfait')}} class="color">
                            <div class="card bg-info mr-5 color" style="width: 18rem;">
                              <img src="{{asset ('images/euro1.jpg') }}" class="card-img-top color" alt="...">
                              <div class="card-body color">
                                <h5 class="card-title color">Frais au forfait</h5>
                                <p class="card-text color text_justify">Veuillez saisir ici les principales dépenses professionnelles courantes liées à vos frais de déplacement du domicile au lieu de travail.</p>
                              </div>
                            </div>
                          </a>
                
                          <a href= {{path ('frais_hors_forfait')}} class="color">
                            <div class="card bg-info color" style="width: 18rem;">
                              <img src="{{asset ('images/euro2.jpg') }}" class="card-img-top color" alt="...">
                              <div class="card-body color">
                                <h5 class="card-title color">Frais hors forfait</h5>
                                <p class="card-text color text_justify">Veuillez saisir ici les principales dépenses professionnelles courantes que vous avez effectuées en dehors de votre forfait mensuel.</p>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endif %}
                {% else %}
                  <div class="row justify-content-center mt-4">
                    <div class="card text-white bg-warning mb-3 col mx-3 px-0" style="max-width: 27rem;">
                      <div class="card-header" style="font-weight: bold; font-size: 20px;">Aucun véhicule associé à votre compte</div>
                        <div class="card-body">
                          <a href= {{path ('vehicule')}} style="text-decoration: none; color: white; font-size: 18px;">Saisir un nouveau véhicule</a>
                        </div>
                      </div>
                    </div>
                  </div>             
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

       
{% endblock %}