<html>
  <head>
    <title>Cours Complet Bootstrap 4</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %} {# Importation de la feuille de style, et de bootstrap #}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
            <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
            {# <link rel="stylesheet" href="font-awesome-animation.min.css"> #}
           {# <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet"> #}
            {# <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet"> #}
            <link href="{{asset ('styles/main.css') }}" rel="stylesheet"/>
            <link href="{{asset ('styles/all.css') }}" rel="stylesheet"/>
            <link href="{{asset ('styles/overflow.css') }}" rel="stylesheet"/>

    {% endblock %}
  </head>

 {% block body %}
   <div class="container-fluid px-0">
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <div class="container-fluid px-0">
              <a class="navbar-brand" href="#">GSB | Galaxy Swiss Bourdin</a>
              <div class="navbar-brand" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/logout">Déconnexion <i class="fas fa-sign-in-alt"></i></a>   
                  </li>
                </ul>
              </div>
            </div>
          </nav> 
        </div>
      </div>
      <div class="row">
        <div class="col-2 sidebar p-0">
          <header>
            <a href="#">
              {% if app.user is null %}
                <h3 class="my-3">Aucun utilisateur connexté</h3>
              {% else %}
                <h3 class="py-3">Bienvenue {{ app.user.prenom }}</h3>
              {% endif %}<span class="id_user">
            </a>
          </header>
          <div class="ml-3 nav w-auto pl-3 mt-4">
            <div class="p-0 pb-2 col-12 liste  ">
              <a href="/visiteurs/accueil_visiteur" class="p-0" >
                <i class="fas fa-home"></i>Accueil
              </a>
            </div>

            <div class="p-0 pb-2 col-12 liste  ">
              <a href="/visiteurs/choix_fiche" class="p-0" >
                <i class="fas fa-edit"></i>Saisir une fiche
              </a>
            </div>

            <div class="p-0 pb-2 col-12 liste  ">
              <a href="/visiteurs/suivi_frais" class="p-0 " >
                <i class="fas fa-file-alt"></i> Suivre ses remboursements
              </a>
            </div>

            <div class="p-0 pb-2 col-12 liste  ">
              <a href="/visiteurs/vehicule" class="p-0  " >
                <i class="fas fa-car"></i> Saisir un nouveau véhicule
              </a>
            </div>
        </div>
      </div>

    <div class="col-10 p-0 margin-left">
          <div class="container-fluid">
          <div class="row top">
            <div class="my-auto text_bloc_top col col-md-8 col-lg-9 p-0 bloc_top">
              <p class="m-0 ml-2 titre_bandeau">Suivre ses remboursements</p>
            </div>
            <div class="my-auto text_bloc_top col col-md-4 col-lg-3 p-0 bloc_top">
              <p class="m-0">Période : {{date}}</p>
            </div>
          </div>
        
              {% for message in app.flashes ('succesSuppr') %}  
                <div class="alert alert-danger mt-4" role="alert">
                    {{ message }}
                </div>
              {% endfor %} 

              {% for message in app.flashes ('modif') %}  
                <div class="alert alert-info mt-4" role="alert">
                    {{ message }}
                </div>
              {% endfor %} 

               {% for tata in app.flashes ('success18') %}  
                <div class="alert alert-primary" role="alert">
                    {{ tata }}
                </div>
              {% endfor %}

               {% for toto in app.flashes ('success34') %}  
                <div class="alert alert-primary" role="alert">
                    {{ toto }}
                </div>
              {% endfor %}

            <div class="row mx-auto w-100 p-0 mt-5">
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-info title">
                            Frais au forfait
                        </div>

                      {% for auForfait in ÔForfait %}
                        {% if loop.last %}
                          {% if loop.index > 0 %}
                          {% endif %}
                        {% endif %}
                        {% else %}
                                  <div class="card-body">
                                  <p class="card-text" style="font-size: 20px; font-weight: bold;;">Aucun frais forfaitaire saisi <i class="fas fa-info-circle"></i></span></p>
                            </div>
                      {% endfor %}
                      
                        {% if ÔForfait %}
                          
                                    <table class="table table-hover table-striped table-bordered" data-toggle="table" data-search="true" data-sort-name="etat" data-sort-order="asc"> 
                                    <thead class="thead">
                                        <tr>
                                            <th scope="col" data-sortable="true" data-field="id">Repas midi</th>
                                            <th scope="col" data-sortable="true" data-field="mois">Nuit</th>
                                            <th scope="col" data-sortable="true" data-field="etape">Etapes</th>
                                            <th scope="col" data-sortable="true" data-field="km">Km</th>
                                            <th scope="col" data-sortable="true" data-field="km">Libellé</th>
                                            <th scope="col" data-sortable="true" data-field="etat">Etat</th>
                                            <th scope="col" data-sortable="true" data-field="montant">Montant</th>
                                            <th scope="col" data-sortable="true" data-field="action">Actions</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                    {% for auForfait in ÔForfait %}
                                        <td>{{ auForfait.repasMidi }}</td>
                                        <td>{{ auForfait.nuit }}</td>
                                        <td>{{ auForfait.etape }}</td>
                                        <td>{{ auForfait.km }}</td>
                                        <td>{{ auForfait.libelle }}</td>

                                      {% if auForfait.etat == "En attente" %}
                                        <td style="background-color: orange; font-weight: bold;">{{ auForfait.etat }} <i class="fas fa-sync fa-spin"></i></td>
                                      {% endif %}

                                      {% if auForfait.etat == "Validé" %}
                                        <td style="background-color: green; font-weight: bold;">{{ auForfait.etat }} <i class="far fa-check-circle"></i></td>
                                      {% endif %}

                                      {% if auForfait.etat == "Rejeté" %}
                                        <td style="background-color: red; font-weight: bold;">{{ auForfait.etat }} <i class="fas fa-exclamation-triangle"></i></td>
                                      {% endif %}

                                        {% for vehicule in vehicule %}

                                          {% if vehicule.carburant == "Diesel" %}

                                            {% if vehicule.chevaux <= 4 %}
                                              <td>{{ auForfait.km * 0.52 + auForfait.nuit * 80 + auForfait.repasMidi * 9.5}}</td>
                                            {% endif %}

                                            {% if vehicule.chevaux > 4 %}
                                              <td>{{ auForfait.km * 0.58 + auForfait.nuit * 80 + auForfait.repasMidi * 9.5}}</td>
                                            {% endif %}

                                          {% endif %}

                                          {% if vehicule.carburant == "Essence" %}

                                            {% if vehicule.chevaux <= 4 %}
                                              <td>{{ auForfait.km * 0.62 + auForfait.nuit * 80 + auForfait.repasMidi * 9.5}}</td>
                                            {% endif %}

                                            {% if vehicule.chevaux > 4 %}
                                              <td>{{ auForfait.km * 0.67 + auForfait.nuit * 80 + auForfait.repasMidi * 9.5}}</td>
                                            {% endif %}

                                          {% endif %}
                                          
                                        {% endfor %}
                                             
                                    <td>
                                      {% if auForfait.etat == "En attente" %}
                                          <div class="col"><a class="btn btn-outline-primary" href={{ path("modifier", {'id': auForfait.id }) }} role="button">Modifier</a></div>
                                        {% endif %}
                                      <div class="col"><a class="btn btn-outline-danger btn1 mt-2" href={{ path("supprimer", {'id': auForfait.id}) }} role="button">Supprimer</a></div>
                                    </td>

                                    </tr>
                                    {% endfor %}
                        {% endif %}

                              </tbody>
                          </table>
                    {# </div> #}
                {# </div> #}
            </div>
        </div>
        {# <div class="row mt-5 mx-auto w-75 p-0"> #}
            <div class="col">
                <div class="card">
                    <div class="card-header bg-info title">
                        Frais hors forfait
                    </div>

                  {% for horsForfait in horsForfait %} 
                        {% if loop.last %}
                          {% if loop.index > 0 %}
                          {% endif %}
                        {% endif %}
                        {% else %}
                                  <div class="card-body">
                                  <p class="card-text" style="font-size: 20px; font-weight: bold;;">Aucun frais hors forfait saisi <i class="fas fa-info-circle"></i></span></p>
                            </div>
                      {% endfor %}

                    {% if horsForfait %} 
                      <table class="table table-hover table-striped table-bordered" data-toggle="table" data-search="true" data-sort-name="etat" data-sort-order="asc"> 
                        <thead class="thead">
                            <tr>
                                <th scope="col" data-sortable="true" data-field="id">Mois</th>
                                <th scope="col" data-sortable="true" data-field="mois">Libellé</th>                             
                                <th scope="col" data-sortable="true" data-field="etat">Etat</th>
                                <th scope="col" data-sortable="true" data-field="montant">Montant</th>
                                <th scope="col" data-sortable="true" data-field="action">Actions</th>
                            </tr>
                        </thead>
                        <tr>
                        {% for horsForfait in horsForfait %}

                            <td> {{ horsForfait.mois }} </td>
                            <td> {{ horsForfait.libelle }} </td>
                            
                            {% if horsForfait.etat == "En attente" %}
                              <td style="background-color: orange; font-weight: bold;">{{ horsForfait.etat }} <i class="fas fa-sync fa-spin"></i></td>
                            {% endif %}

                            {% if horsForfait.etat == "Validé" %}
                              <td style="background-color: green; font-weight: bold;">{{ horsForfait.etat }} <i class="far fa-check-circle"></i></td>
                            {% endif %}

                            {% if horsForfait.etat == "Rejeté" %}
                              <td style="background-color: red; font-weight: bold;">{{ horsForfait.etat }} <i class="fas fa-exclamation-triangle"></i></td>
                            {% endif %}

                            <td> {{ horsForfait.montant }} </td>
                            <td>
                              {% if horsForfait.etat == "En attente" %}
                                <div class="col"><a class="btn btn-outline-primary" href={{ path("modifier2", {'id': horsForfait.id }) }} role="button">Modifier</a></div>
                              {% endif %}
                              <div class="col"><a class="btn btn-outline-danger btn1 mt-2" href={{ path("supprimer2", {'id': horsForfait.id }) }} role="button">Supprimer</a></div>
                            </td>
                        </tr>
                        {% endfor %}
                      {% endif %}
                    </table>
                </div>
            </div>
        </div>
    {# </div> #}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>  
  {% endblock %}
</html>