{% extends 'base_visiteur.html.twig' %}

   {% block body %}
  
      <div class="col p-0">
        <div class="container-fluid">
          <div class="row top">
            <div class="my-auto text_bloc_top col col-md-8 col-lg-9 p-0 bloc_top">
              <p class="m-0 ml-2 titre_bandeau">Saisir un nouveau véhicule</p>
            </div>
            <div class="my-auto text_bloc_top col col-md-4 col-lg-3 p-0 bloc_top">
                <p class="m-0 titre_bandeau">Période : {{date}}</p>
              </div>
          </div>
          <div class="row mx-auto w-75 p-0 mt-5">
            <div class="col">

            {% for message in app.flashes ('dropCar') %}  
              <div class="alert alert-info" role="alert">
                {{ message }}
              </div>
            {% endfor %} 

            {% for vehicule in vehicule %}
              {% if loop.last %}
                {% if loop.index > 0 %}
                  <div class="row justify-content-center">
                    <div class="card text-white bg-danger mb-3 col mx-3 px-0" style="max-width: 24rem;">
                      <div class="card-header" style="font-weight: 550; font-size: large">Véhicule déjà existant <i class="fas fa-exclamation-triangle"></i></div>
                        <div class="card-body">
                        <p class="card-text" style="font-size: 20px;">Saisir un nouveau véhicule excrasera le précédent <span style="font-weight: 550">({{ vehicule.marque }} - {{ vehicule.modele }})</span></p>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endif %}
              {% else %}
            {% endfor %}

            {{ form_start(form) }}
            
              <div class="card">
                  <div class="card-header bg-info title"> Information sur le véhicule </div>
                  <div class="card-body">
                    <form action={{ path("vehicule", {'val': 1 })}} method="POST">
                      <div class="row">
                      
                        <div class="col m-1">
                          {{ form_row (form.immatriculation)}}
                        </div>

                        <div class="col m-1">
                            {{ form_row (form.marque)}}
                        </div>
          
                        <div class="col m-1">
                            {{ form_row (form.chevaux)}}  
                        </div>

                        <div class="col m-1">
                          {{ form_row (form.carburant)}}
                        </div>

                        <div class="col m-1">
                          {{ form_row (form.modele)}}
                        </div>
                        {% do form.proprietaire.setRendered() %}
                      </div>
                        <div class="row">
                          <div class="col-8 col-sm-5 col-md-4 col-lg-3 col-xl-2">
                            <button class="btn btn-outline-success mt-3" href={{ path("vehicule", {'val' : 'test' }) }} role="button" type="submit"> Ajouter </button>
                          </div>
                          <div class="col">
                          </div>
                        </div>

                          {{ form_end(form) }}

                          </div>
                        </div>
                      </div>
                  </div>
                </div>

  {% endblock %}